{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block background_block %}
<header id="mac634-header" class="mac634-cover mac634-cover-sm" role="banner" style="background-image:url({% static 'images/img_bg_2.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Contact Us</h1>
						<h2>634 Project Made by Tab <a href="http://www.ttxy.org" target="_blank">TT</a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block body_block %}

{% endblock %}
