{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block background_block %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static 'images/img_bg_2.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Contact Us</h1>
						<h2>634 Project Made by Tab <a href="http://www.ttxy.org" target="_blank">TT</a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}
{% block body_block %}
   {% if courselist %}
       <h2>List of courses:</h2>
            <ol>
           {% for course in courselist %}
               <li><a href="/myapp/course/{{ course.course_no }}" >{{ course.title }} </a></li>
           {%  endfor %}
            </ol>
   {% else %}
       <strong> There are no available courses!</strong>
   {%  endif %}
{% endblock %}
