{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block background_block %}
<header id="mac634-header" class="mac634-cover mac634-cover-sm" role="banner" style="background-image:url({% static 'images/img_bg_2.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Top 10 Topics:</h1>
            {% if topiclist %}
            <ol>
            {%  for topic in topiclist %}
              <li><a href="/myapp/topic/{{ topic.subject }}" >{{ topic.subject }} </a></li>
            {%  endfor %}
              </ol>
            {% else%}
              <strong> There are no available topics!</strong>
            {% endif %}
						<form action={% url 'myapp:addtopic'%} method='post'>
		        {%  csrf_token %}
		        {{ form }}
		        	<input type="submit" value="Propose A Topic" />
		        </form>
            </ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block body_block %}
    {% if topiclist %}
        <h2>List of topics:</h2>
             <ol>
            {% for topic in topiclist %}
                  <li><a href="/myapp/topic/{{ topic.subject }}" >{{ topic.subject }} </a></li>
            {% endfor %}
             </ol>
    {% else%}
        <strong> There are no available topics!</strong>
    {%  endif %}
        <form action={% url 'myapp:addtopic'%} method='post'>
              {%  csrf_token %}
              {{ form }}
              <input type="submit" value="Propose A Topic" />
        </form>
{% endblock %}
