{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block background_block %}
<header id="mac634-header" class="mac634-cover mac634-cover-sm" role="banner" style="background-image:url({% static 'images/img_bg_2.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
            {% if topic %}
						  <h1>{{ topic.subject }}</h1>
              <h3>Interested people: {{ topic.num_responses}} </h3>
              <h3>Average age: {{ topic.avg_age }}</h3>
            {% else %}
              <h1>There is no available topic!</h1>
            {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}


{% block body_block %}
    {% if topic %}
        <h2>Topic</h2>
        <ol>
                <p> Subject:{{ topic.subject }}</p>
                <p> The number of people interested in:{{ topic.num_responses}} </p>
                <p> Introductory : {{ topic.intro_course }}</p>
                <p> Average age: {{ topic.avg_age }}</p>
        </ol>
        <form action="." method="POST" align="center">
          <br>Interest Feedback:<br>
            {% csrf_token %}
            {{ form.as_p }}
          <input type="submit" value="Submit" />
        </form>

    {% else %}
        <strong>There is no available topic!</strong>
    {% endif %}
{#<p><a href="/myapp">Back</a></p>#}

{% endblock %}

</body>
</html>
