<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
</head>
<body>
{% extends 'myapp/base.html' %}

{% block body_block %}
        {% if topiclist %}
        <h2>List of Topics</h2>
        <ol>
            {% for topics  in topiclist %}
                <li><a href="/myapp/topic/{{ topic.subject }}" >{{ topics.subject }} </a></li>
            {% endfor %}
        </ol>

    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}

{% endblock %}
</body>
</html>
