{% extends 'myapp/base.html' %}

{% block title %}Topic Page{% endblock %}

{% block body_block %}
    {%  if topiclist %}
        <h2>List of topics:</h2>
             <ol>
            {%  for topic in topiclist %}
                  <li><a href="/myapp/topic/{{ topic.subject }}" >{{ topic.subject }} </a></li>
            {%  endfor %}
             </ol>
    {% else%}
        <strong> There are no available topics!</strong>
    {%  endif %}
        <form action={% url 'myapp:addtopic'%} method='post'>
              {%  csrf_token %}
              {{ form }}
              <input type="submit" value="Propose A Topic" />
        </form>
{% endblock %}
